# Config file for lastproxy
# https://github.com/yangg/lastproxy

# userAgent: iPad
# Disable cache by remove `if-modified-since` and `if-none-match` from request header
# cache: false
# Add `Access-Control-Allow-Origin header` to response
# allowOrigin: '*'
urlReplace:
#   example.com:
#     /help: /current/working/page
#     /about: /current/working/page2
proxy:
#   # proxy for domain
#   example.com: 127.0.0.1
#   # proxy for specified path
#   example.com:
#     /static: 127.0.0.1
localResponse:
#   # localResponse exact url
#   http://example.com/app.js: /local/path/to/debug.js
#   # localResponse specified pattern
#   example.com/static/**: /local/folder/to/static
# intercept all https request
# interceptHttps: true
# or intercept https for sepcified host
interceptHttps:
#   www.example.com: true
#   example2.com: true

## anyproxy config

# port: 8888
# type: "http"
# hostname: "localhost"
# save request data to a specified file, will use in-memory db if not specified
# dbFile: null
# port for web interface
# webPort: 8002
# internal port for web socket, replace this when it is conflict with your own service
# socketPort: 8003
# speed limit in kb/s
# throttle: 10
# set it when you don't want to use the web interface
# disableWebInterface : false
# set anyproxy as your system proxy
# setAsGlobalProxy : false
# silent: false

# vim: ft=yaml
