# userAgent: iPad
# cache: false
# allowOrigin: '*'
urlReplace:
#   example.com:
#     /help: /current/working/page
#     /about: /current/working/page2
proxy:
#   proxy for domain
#   example.com: 127.0.0.1
#   proxy for specified path
#   example.com
#     /static: 127.0.0.1
localResponse:
#   localResponse exact url
#   http://example.com/app.js: /local/path/to/debug.js
#   localResponse specified path
#   example.com/static/**: /local/folder/to/static
